*{
    margin: 0%;
    color: white;
    
 font-family:math;
}
html{box-sizing: border-box;}
*, *:before, *:after{ box-sizing: inherit;}

.caver{
    background-image: url(https://taleek.com/img/bg-layer.svg);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
     height: 800px;
     position: relative;
}




header{
    padding: 10px;

    display: flex;
    justify-content: space-around;
  
   
}
.logo{


 width: 40% ;


}

p{
    font-size: 20px;
    display: inline-block;
    position: relative;
    top: -10px;
  

}




nav{
   width: 40%;
   margin-top: 8px;

   
}

a{
        transition: all 0.3s;
      margin-left: 5px;
     text-decoration: none ;
      font-size: 16px;
      opacity: 0.6;
     
}
a:hover{
    opacity: 1;
    color: white;
}
             /* Heder */
/* ================================= */
 /* ================================= */
 /* ================================= */
 /* ================================= */
 /* ================================= */

 .midle{
    height: 400px;
    position: static;

 }

 .imo1{
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
 h1{
    text-align: center;
    font-size: 50px;
 }

 .left{

  
    position: absolute;
    top: 35%;
    left: 10%;
 
   
 }
 button{
    background: transparent;
    all: unset;
    background-color: goldenrod;
    border: 1px gold solid;
    border-radius: 20px;
    font-size: 30px;
    padding: 10px 15px;
    cursor: pointer;
    transition:  0.3s all;
    

 }
 button:hover{
 
    background-color: goldenrod;
    border: 1px gold solid;
    font-size: 20px;
    padding: 5px 10px;
    margin:0 20px;
    cursor: pointer;

 }

 @media (max-width:900px){
    .left{
        
        position: static;
       text-align: center;
    }
}

              /* midle */
/* ================================= */
 /* ================================= */
 /* ================================= */
 /* ================================= */
 /* ================================= */



 .wav{
    height: 200px;
 }